//- var categories = ["Groceries", "Takeaway", "Alcohol", "Restaurants", "Personal supplies", "Clothes","Laundry/dry cleaning", "Hair/beauty", "Subscriptions", "Other", "Fitness World"];
//- var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
- var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

table
    thead
        tr
            th(rowspan="2") Monthly totals:
            for month in months
                th=month
            th Total
            th Average
        tr
            - for (var i = 0; i < 14; i++) {
                th 0DKK
            - }
    tbody
        for expense in categories.Everyday
            tr(id=expense)
                td=expense
                - for (var i = 0; i < 12; i++) {
                    td
                        input
                - }
                td 0
                td 0
        //-
            for category in categories
                tr(id=category)
                    td=category
                    - for (var i = 0; i < 12; i++) {
                        td
                            input
                    - }
                    td 0
                    td 0
        tr
            td(colspan="15")
                button Add New