extends layout
block content
    #infoactions
        #info
            h1=expense.name
            h6#expenseTotal Total:
                span=expense.total
            h6#expenseAvg Average:
                //-span=(expense.total / entries.length).toFixed(2)
                span=isNaN((expense.total / entries.length).toFixed(2)) ? 0 : (expense.total / entries.length).toFixed(2)
            -
                var freq;
                var srcs = {};
                for (var i = 0; i < entries.length; i++) {
                    var s = entries[i].source;
                    srcs[s] == undefined ? srcs[s] = 1 : srcs[s]++;
                    if (srcs[s] > srcs[freq] || freq == undefined) freq = s;
                }
            h6#expenseSrcs Sources:
                span=Object.keys(srcs).length
        #actions
            button#expenseRemove.button Remove
            button#expenseEntryEdit.button Edit Entries
            button#expenseEntryRemove.button.disabled Remove Entry      
    #filter
        select#sort
            if sort == "date" || sort == undefined
                option(selected) Date
                option Cost
                option Source
            else if sort == "cost"
                option Date
                option(selected) Cost
                option Source
            else if sort == "source"
                option Date
                option Cost
                option(selected) Source
        select#ascending
            if ascending == 1
                option(selected) Ascending
                option Descending
            else
                option Ascending
                option(selected) Descending
        input#expenseInput(placeholder="Search for sources")
    table#expenseTable
        thead
            tr
                th Date
                th Cost
                th Source
                th Comment
        tbody
            for entry in entries
                tr
                    td
                        input(value=entry.date.toDateString() disabled)
                    td
                        input(value=entry.cost disabled)
                    td
                        input(value=entry.source disabled)
                    td
                        input(value=entry.comment disabled)
                    td.entryId=entry._id
    form#expenseEntryForm(action="/createExpenseEntry" method="post")
        input(name="sheet" type="hidden" value="#{sheet}")
        input(name="category" type="hidden" value="#{category}")
        input(name="name" type="hidden" value="#{expense.name}")
        input(placeholder="Date" name="date" type="date" required)
        input(placeholder="Cost" name="cost" type="number" required value="15")
        input(placeholder="Source" name="source" type="text" required value="Bakken")
        input(placeholder="Comment" name="comment" type="text" value="Drinks")
        input(type="submit" value="Add")
    #expenseStatistics
        p Most frequent source: #{freq}
block scripts
    script(src="/javascripts/expenseScript.js")