#groceries.food
    p.cat Groceries
    p.amount=groceries.amount.toFixed(0) 
        | DKK
    table
        tr
            th Date
            th Amount
            th Source
        for e in groceries.entries
            tr
                td 
                    input(value="#{e.date.getDate()}-#{monthNames[e.date.getMonth()]}")
                td
                    input(value="#{e.amount}")
                td
                    input(value="#{e.source}")
    button +
#takeaway.food
    p.cat Takeaway
    p.amount=takeaway.amount.toFixed(0) 
        | DKK
    table
        tr
            th Date
            th Amount
            th Source
        for e in takeaway.entries
            tr
                td 
                    input(value="#{e.date.getDate()}-#{monthNames[e.date.getMonth()]}")
                td
                    input(value="#{e.amount}")
                td
                    input(value="#{e.source}")
    button +
#drinking.food
    p.cat Drinking
    p.amount=drinking.amount.toFixed(0) 
        | DKK
    table
        tr
            th Date
            th Amount
            th Source
        for e in drinking.entries
            tr
                td 
                    input(value="#{e.date.getDate()}-#{monthNames[e.date.getMonth()]}")
                td
                    input(value="#{e.amount}")
                td
                    input(value="#{e.source}")
    button +