doctype html
html
    head
        title=title
        link(rel='stylesheet' href='/stylesheets/stylesheet.css')
        block stylesheets
        meta(name="viewport" content="width=device-width")
        meta(name="author" content="Frederik Agervold")
        meta(charset="UTF-8")

    //- var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    - var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    //- var sheets = ["Income", "Expenses"];
    //- var income = ["Wages", "Other"];

    body
        a#username(title="Logout" href="/logout")=user.username
        ul#menu
            li.sheet(id="Summary")
                a(href="/") Summary
            li.sheet(id="Income") 
                | Income
                img.iconPlus(src="/images/plus.png")
            for category in user.incomeCategories
                li.category(id="#{category.name}")
                    a(href="/Income/#{category.name}")=category.name
                    //-img.iconDelete(src="/images/delete.png")
                    if category.expenses.length != 0
                        img.iconChevron(src="/images/chevron.png")
                        ul.sub-menu
                            for expense in category.expenses
                                li
                                    a(href="/Income/#{category.name}/#{expense.name}")=expense.name
            li.sheet(id="Expenses") 
                | Expenses
                img.iconPlus(src="/images/plus.png")
            for category in user.expensesCategories
                li.category(id="#{category.name}")
                    a(href="/Expenses/#{category.name}")=category.name
                    //-img.iconDelete(src="/images/delete.png")
                    if category.expenses.length != 0
                        img.iconChevron(src="/images/chevron.png")
                        ul.sub-menu
                            for expense in category.expenses
                                li
                                    a(href="/Expenses/#{category.name}/#{expense.name}")=expense.name
            //-
                li.sheet Summary
                for sheet in sheets
                    li.sheet(id="#{sheet}")=sheet          
                    each index, category in user[sheet]
                        li.category(id="#{category}")
                            a(href="/#{sheet}/#{category}")
                                span=category
                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129')
                                    g
                                        path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', fill='#fff')
                                ul.sub-menu
                                    //-if user.expenses[category]
                                    each i, expense in user[sheet][category]
                                        li
                                            a(href="/#{sheet}/#{category}/#{expense}")=expense
        //-
            #settings
                img#enableDelete(src="/images/delete.png")
                #newCategory
                    input(type="text" placeholder="Category")
                    button +
                div
                    i.fa.fa-plus
                    i.fa.fa-align-left
                    i.fa.fa-cog
        #content
            block content
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/script.js")
    block scripts