extends layout
block content
    h1#main Summary
    h3
        | This page generates a summary of your spending based on data in the 
        span Expenses
        |  and 
        span Income
        | tabs.
    #tableDiv
        table#summaryTable
            thead
                tr
                    th
                    for month in months
                        th #{month}. '17
                    th Total
                    th Average
            tbody
                tr
                    td Income
                    - count = 0;
                    for inc, i in user.income
                        td=inc
                        - if(inc > 0 && i != 12) count++
                    td=user.income[12] / count || 0
                tr
                    td Expenses
                    - count = 0;
                    for ex, i in user.expenses
                        td=ex
                        - if(ex > 0 && i != 12) count++
                    td=((user.expenses[12] / count) || 0).toFixed(0)
                tr
                    td Net savings
                    - var nets = [];
                    - var val = [0,0];
                    - for (var i = 0; i < 13; i++) {
                        -net = user.income[i] - user.expenses[i];
                        -nets.push(net);
                        -if ((user.income[i] > 0 || user.expenses[i] > 0) && i != 12) {
                            -val[0] += net;
                            -val[1]++;
                        -}
                        td=net
                    - }
                    td=(val[0] / val[1]).toFixed(0)
                tr
                    - var balance = user.startingBalance;
                    td Ending balance
                    - for (var i = 0; i < 12; i++) {
                        - balance += nets[i]
                        td=balance
                    - }
                    td
                    td
            
    #chart_div
    script.
        var months = !{JSON.stringify(months)};
        var income = !{JSON.stringify(user.income)};
        var expenses = !{JSON.stringify(user.expenses)};
        var nets = !{JSON.stringify(nets)};
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="javascripts/chart.js")