extends layout
block content
    - var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    table
        thead
            tr
                th(rowspan="2") Monthly totals:
                for month in months
                    th=month
                th Total
                th Average
            tr
                - for (var i = 0; i < 14; i++) {
                    th 0DKK
                - }
        tbody
            for expense in expenses
                tr(id=expense.name)
                    td.expense=expense.name
                    - for (var i = 0; i < 12; i++) {
                        td
                            input
                    - }
                    td 0
                    td 0
    form#expenseForm(action="/createExpense" method="post")
        input(name="sheet" type="hidden" value="#{sheet}")
        input(name="category" type="hidden" value="#{category}")
        input(placeholder="Name" name="name" type="text" required)
        input(type="submit" value="Add")