extends layout

block content
	// if category is specified
	if specified
		h1#category= category
		div.subs
			each sub in subs
				div(id="#{sub}", class="sub", style="background-image:url(/images/#{sub}.png)")
					p= sub
		#category_events
			each event in events
				a.event(href="/event/#{event._id}", style="background-image:url(#{event.image}); background-size:cover")
					p= event.title
	
	
	// if category is not specified
	if !specified
		#categories
			a(class="cat" href="/category/nightlife")
				p Nightlife
				i.fa.fa-glass
			a(class="cat" href="/category/sports")
				p Sports
				i.fa.fa-futbol-o
			a(class="cat" href="/category/seminars")
				p Seminars
				i.fa.fa-graduation-cap
			a(class="cat" href="/category/entertainment")
				p Entertainment
				i.fa.fa-film
			a(class="cat" href="/category/nature")
				p Nature
				i.fa.fa-tree
			a(class="cat" href="/category/tech")
				p Technology
				i.fa.fa-cogs
			a(class="cat" href="/category/music")
				p Music
				i.fa.fa-music
			a(class="cat" href="/category/travelling")
				p Travelling
				i.fa.fa-suitcase
			a(class="cat" href="/category/creative")
				p Creative
				i.fa.fa-paint-brush
			a(class="cat" href="/category/culinary")
				p Culinary
				i.fa.fa-cutlery
	
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src="/javascripts/script_start.js")
	script(src="/javascripts/category_script.js")
