extends ../layout

block content
    #shader
    #event_info
        include event_header
        include event_info
                    
        #event_media 
            h2 Media
            div(style="height:90px; width: 160px; background: green; display:inline-block; margin-right:6px;")
            div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
            div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
            div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
            div(style="height:100px; width: 100px; background-image: url(/images/dots.png); display:inline-block; background-repeat: no-repeat;")
                 
        include event_actions        
                        
        h2 Attending:
        pre= event.attending
            
        #image_container
        
            
        //
            each poll in polls
                .poll
                    p= poll.question
                    each choice, index in poll.choices
                        .poll_choice
                            p.poll_choice_p= choice
                            p.poll_choice_percent= poll.results[index+1]
                            .choice_color(id="bar#{index+1}")
        each poll in polls
            .poll
                p.poll_title= poll.question
                each choice in poll.choices
                    .poll_choice
                        p #{choice} : #{poll.results[choice]}
                form(action="/poll/vote", method="post", id="#{poll._id}")
                    select(name="poll_vote" class="input joined_input")
                        each choice in poll.choices
                            option= choice
                    input(type="submit" class="button joined_button" value="Vote")
                            
    #chat
        form(action="/messages", method="post", id="form_messages")
            input(type="hidden" name="event_id" value="#{event._id}")
            input(type="text" name="message" class="input joined_input")
            input(type="submit" class="button joined_button" value="Post")
        ul#chat_messages
            each message in messages
                li
                    img(src="/images/profile_default_green.png" id="chat_image")
                    p.chat_sender= message.user + ' /' + message.date + '/'
                    p.chat_message= message.message
                    .fb-like(data-share="true", data-width="450", data-show-faces="true")

                
    #invite
        form(action="/event/invite", method="post", id="form_invite")
            label Email
            br
            input.input(type="email", name="username")
            input.button(type="submit")
            span or
            label facebook

block scripts
    if user
        script.
            var user = {};
            user['firstName'] = '#{user.firstName}'
            user['lastName'] = '#{user.lastName}'
            user['username'] = '#{user.username}'