extends ../layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/stylesheet_league.css")

block content
    h1= league.title
    #prizes
        .prize
            i(class="fa fa-trophy" aria-hidden="true" style="color:gold;")
            p 1.
            p 500.000
        .prize
            i(class="fa fa-trophy" aria-hidden="true" style="color:silver;")
            p 2.
            p 100.000
        .prize
            i(class="fa fa-trophy" aria-hidden="true" style="color:sandybrown;")
            p 3-4.
            p 70.000

    form(id="formInviteTeam" action="/league/invite" method="post")
        input(type="text" name="teamName" class="input smallInput" placeholder="Team Name")
        input(type="submit" value="Invite Team" class="input smallSubmit")

    table
        thead
            tr
                th #
                th Team
                th Points
                th Matches
                th Matches W-L
                th Goal Scores
                th Goal Diff
        tbody
            - for (var t = 0; t < league.size; t++)
                tr
                    td #{t+1}. 
                    td= league.teams[t].name
                    td= league.teams[t].points
                    td= league.teams[t].matches
                    td #{league.teams[t].wins} - #{league.teams[t].losses}
                    td #{league.teams[t].goals1} - #{league.teams[t].goals2}
                    td #{league.teams[t].goals1 - league.teams[t].goals2}


block scripts
    script(src='/javascripts/script_league.js')
    script.
        var pugCoords = !{JSON.stringify(coords)}
        var onPugPage = false