extends ../layout

block content
    #pug
        #pugHeader
            img(id="pugImage" src="/images/concert.jpg")
            h1#pugTitle= event.title
            #headerInfo
                a(href="/user/#{creator._id}")
                    h3#createdBy created by #{creator.firstName + ' ' + creator.lastName}
                #socials
                    i.fa.fa-facebook-square
                        a(href="facebook.com/#{event.settings.facebook}") facebook.com/#{event.settings.facebook}
                    i.fa.fa-youtube-square
                        a(href="youtube.com") youtube.com
                    i.fa.fa-twitter-square
                        a(href="twitter.com/#{event.settings.twitter}") twitter.com/#{event.settings.twitter}
                    i.fa.fa-instagram
                        a(href="instagram.com") instagram.com   

        #pugBody
            #leftSide
                #pugInfo.pugSection
                    div
                        i.fa.fa-globe
                        p= event.venue + ' ' + event.street + ' ' + event.number + ' ' + event.city + ', ' + event.country
                    #map
                    div
                        i.fa.fa-clock-o
                        p= event.date
                    div
                        i.fa.fa-info-circle
                        p= event.info
                    div
                        if event.priv == true
                            i.fa.fa-lock
                        else
                            i.fa.fa-unlock

                
                #pugMedia.pugSection
                    h2 Media
                    div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
                    div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
                    div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
                    div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
                    div(style="height:100px; width: 100px; background: green; display:inline-block; margin-right:6px;")
                
                
                #pugAttending.pugSection
                    h2 Attending:
                    pre= event.attending

            #rightSide
                include event_actions    

                #pugChat.pugSection
                    p Chat
                            

                
            #image_container
            
                
            //-
                each poll in polls
                    .poll
                        p= poll.question
                        each choice, index in poll.choices
                            .poll_choice
                                p.poll_choice_p= choice
                                p.poll_choice_percent= poll.results[index+1]
                                .choice_color(id="bar#{index+1}")
        //-
            each poll in polls
                .poll
                    p.poll_title= poll.question
                    each choice in poll.choices
                        .poll_choice
                            p #{choice} : #{poll.results[choice]}
                    form(action="/poll/vote", method="post", id="#{poll._id}")
                        select(name="poll_vote" class="input joined_input")
                            each choice in poll.choices
                                option= choice
                        input(type="submit" class="button joined_button" value="Vote")
//-
    #chat
        form(action="/messages", method="post", id="form_messages")
            input(type="hidden" name="event_id" value="#{event._id}")
            input(type="text" name="message" class="input joined_input")
            input(type="submit" class="button joined_button" value="Post")
        ul#chat_messages
            each message in messages
                li
                    img(src="/images/profile_default_green.png" id="chat_image")
                    p.chat_sender= message.user + ' /' + message.date + '/'
                    p.chat_message= message.message
                    .fb-like(data-share="true", data-width="450", data-show-faces="true")

                
    #invite
        form(action="/event/invite", method="post", id="form_invite")
            label Email
            br
            input.input(type="email", name="username")
            input.button(type="submit")
            span or
            label facebook

block scripts
    script.
        var pugCoords = !{JSON.stringify(coords)}
        var onPugPage = true
    script(src='/javascripts/google_maps_script.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgGEK8zJNXy_Ye-x0sDwFXr6336f66zOE&callback=initMap" async defer)
    if user
        script.
            var user = {};
            user['firstName'] = '#{user.firstName}'
            user['lastName'] = '#{user.lastName}'
            user['username'] = '#{user.username}'