extends ../layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/stylesheet_tournament.css")

block content
    h1= tournament.title
    #prizes
        .price
            i(class="fa fa-trophy" aria-hidden="true" style="color:gold;")
            p 1.
            p 500.000
        .price
            i(class="fa fa-trophy" aria-hidden="true" style="color:silver;")
            p 2.
            p 100.000
        .price
            i(class="fa fa-trophy" aria-hidden="true" style="color:sandybrown;")
            p 3-4.
            p 70.000

    form(id="formInviteTeam" action="/tournament/invite" method="post")
        input(type="text" name="teamName" class="input smallInput" placeholder="Team Name")
        input(type="submit" value="Invite Team" class="input smallSubmit")

    ul#teams
        for team in tournament.teams
            li= team.name

    - var r16 = ["Alpha", "Bravo", "Charlie", "Delta", "Echo", "Foxtrot", "Golf", "Hotel", "India", "Juliet", "Kilo", "Lima", "Mike", "November", "Oscar", "Papa"]
    - var quater = ["Alpha", "Bravo", "Charlie", "Delta", "Echo", "Foxtrot", "Golf", "Hotel"]
    - var semi = ["Alpha", "Charlie", "Echo", "Golf"]
    - var final = ["Alpha", "Echo"]
    - var matches = [r16, quater, semi, final]
    - var names = ["R16", "Quater", "Semi", "Final"]
    - var names2 = ["Final", "Semi", "Quater", "R16"]

    -
        // Amount of teams in playoffs
        var sizes =
        {
            "16":
            {
                "stages": 4,
                "names": ["R16", "Quater", "Semi", "Final"],
                "matches": [8, 4, 2, 1]
            },
            "8":
            {
                "stages": 3,
                "names": ["Quater", "Semi", "Final"],
                "matches": [4, 2, 1]
            },
            "4":
            {
                "stages": 2,
                "names": ["Semi", "Final"],
                "matches": [2, 1]
            }
        }

    p Groups
    //- groups = groups.concat(groups)
    #groups
        for group, index in groups
            .group
                p Group #{index+1}
                for team in group
                    p= team
    p Playoffs
    #playoffs
        -
            var teams = groups.length * 4;
            var counter = 0;
            while (teams != 4) {
                console.log(teams);
                teams /= 2;
                counter++;
            }
            stages = counter + 2;

        - var currentSize = sizes[groups.length*2]
        - stages = currentSize["stages"]+1
        - names = currentSize["names"]

        - for (var s = 1; s < stages; s++)
            - var teamCounter = 0
            .stage
                p.stageTitle= names[s-1]
                - for (var m = 0; m < currentSize["matches"][s-1]; m++)
                    .match
                        .teamContainer
                            .team
                                p.teamScore 0
                                p.teamName= matches[s-1][teamCounter]
                            .team
                                p.teamScore 0 
                                p.teamName= matches[s-1][teamCounter+1]
                            - teamCounter+=2

block scripts
    script(src='/javascripts/script_tournament.js')
    script.
        var pugCoords = !{JSON.stringify(coords)}
        var onPugPage = false