extends ../layout

block content

    if own
        #event_image(style="background-image:url(#{user.image}); background-position-x:0; display:inline-block; background-size: contain; border-radius: 50%; height: 100px; width: 100px;")
        h1= user.firstName + ' ' + user.lastName
        h1= user.username
        h3= user.date
        h3 Own account
        #star
            span= isNaN((user.rating.total / user.rating.raters.length).toFixed(1)) ? '?' : (user.rating.total / user.rating.raters.length).toFixed(1)

        #socials
            if user.social.facebook
                i.fa.fa-facebook-square 
                    a(href="facebook.com/#{user.social.facebook}") facebook.com/#{user.social.facebook}
            if user.social.youtube
                i.fa.fa-youtube-square
                    a(href="youtube.com/#{user.social.youtube}") youtube.com/#{user.social.youtube}
            if user.social.twitter
                i.fa.fa-twitter-square
                    a(href="twitter.com/#{user.social.twitter}") twitter.com/#{user.social.twitter}
            if user.social.instagram
                i.fa.fa-instagram
                    a(href="instagram.com/#{user.social.instagram}") instagram.com/#{user.social.instagram}

        #actives
            #tournaments
                h2 Tournaments
                ul
                    for tournament in tournaments
                        li
                            a(href="/tournament/#{tournament._id}")= tournament.title
            #leagues
                h2 Leagues
                ul
                    for league in leagues
                        li
                            a(href="/league/#{league._id}")= league.title
            #teams
                h2 Teams
                ul
                    for team in teams
                        li
                            a(href="/team/#{team._id}")= team.name

    if !own
        #event_image(style="background-image:url(#{o_user.image}); background-position-x:0; display:inline-block")
        h1= o_user.firstName + ' ' + o_user.lastName
        h1= o_user.username
        h3 Not own account
        #star
            span= isNaN((o_user.rating.total / o_user.rating.raters.length).toFixed(1)) ? '?' : (o_user.rating.total / o_user.rating.raters.length).toFixed(1)
        form(action="/rate" method="post" id="form_rating")
            input(type="hidden" name="profile_id" value="#{o_user._id}")
            select(name="rating", class="input joined_input", style="width:60px")
                option 1
                option 2
                option 3
                option 4
                option 5
            input(type="submit" value="Rate!" class="button joined_button")